extends layout

block content
  .container
    h2.mb-4 Habilidades en el Mundo de los Videojuegos
    .row
      .col-md-6
        .card.bg-dark.text-white.mb-3
          .card-body
            h3.card-title Diseño de Juegos
            p.card-text Detalles sobre el diseño de niveles, creación de mundos y desarrollo de personajes.
            a.btn.btn-success(href="/contacto", role="button") Más sobre Diseño

      .col-md-6
        .card.bg-dark.text-white.mb-3
          .card-body
            h3.card-title Programación de Juegos
            p.card-text Habilidades en programación de juegos, incluyendo motor de juego, IA y físicas.
            a.btn.btn-success(href="/contacto", role="button") Más sobre Programación

      .col-md-6
        .card.bg-dark.text-white
          .card-body
            h3.card-title Arte y Gráficos
            p.card-text Creación de arte para juegos, desde concepto hasta arte final, incluyendo 2D y 3D.
            a.btn.btn-success(href="/contacto", role="button") Más sobre Arte

      .col-md-6
        .card.bg-dark.text-white
          .card-body
            h3.card-title Música y Sonido
            p.card-text Composición de bandas sonoras y diseño de efectos de sonido para mejorar la experiencia de juego.
            a.btn.btn-success(href="/contacto", role="button") Más sobre Sonido
